@import 'https://fonts.googleapis.com/css?family=Open+Sans';

@font-face {
  font-family:coolvetica;
  src: url(coolveticaRg.ttf);
}

/* Navigation bar */
.navigation {
	position:fixed;
	display:grid;
	align-items:center;
	grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows:1fr;
	height:50px;
	margin:0;
	background-color:#3b3434;
	width:100%;
}
.navigation p {
	font-size:1.4rem;
	font-family: 'Open Sans', sans-serif;
	color:#b3a4a4;
	text-align:center;
	margin:0px;
	padding:20%;
	padding-top:0px;
	padding-bottom:0px;
}
.navigation p:hover {
	color:#eddddd;
}
a {
    text-decoration: none;
}
@media screen and (max-width:1370px){
	.navigation p {
		font-size:1rem;
}}
@media screen and (max-width:500px){
	.navigation p {
		font-size:0.7rem;
}}

/* Title, Segment */
.heading {
	display:flex;
	flex-direction:row;
	margin:0px;
	width:100%;
	height:700px;
	background-color:#b3a4a4;
}
.heading1 {
	width:50%;
}
.heading2 {
	display:flex;
	align-items:center;
	justify-content:center;
	width:50%;
}
.heading2 img {
	max-width:60%;
}
h1 {
	padding:15%;
	padding-top:25%;
	padding-bottom:0px;
	font-size:6rem;
	margin-top:0px;
	font-family:coolvetica;
	color:#544949;
}
.heading .title p {
	padding:15%;
	padding-top:0px;
	padding-bottom:0px;
	font-size:2rem;
	margin-top:0px;
	margin-bottom:0px;
	font-family:'Open Sans', sans-serif;
	color:#eddddd;
}
.heading p {
	padding:15%;
	padding-top:2%;
	padding-bottom:5%;
	font-size:1.5rem;
	margin-top:0px;
	margin-bottom:5%;
	font-family:'Open Sans', sans-serif;
	color:#544949;
}
@media screen and (max-width:1132px){
	h1 {
		font-size:3rem;
	}
	.heading1 {
		width:70%;
	}
	.heading2 {
		width:30%;
	}
	.heading2 img {
		max-width:90%;
	}
}
@media screen and (max-width:570px){
	h1 {
		font-size:1.8rem;
	}
	.heading .title p {
		font-size:1rem;
	}
	.heading p {
		font-size:0.8rem;
	}
	.heading {
		height:350px;
	}
}

/* Gallery, Segment */
.gallery_section {
	border-radius:50px 50px 0 0;
	background-color:#544949;
}
h2 {
	border-radius:4% 4% 0% 0%;

	text-align:center;
	padding-top:3%;
	padding-bottom:0px;
	font-size:3rem;
	margin-top:0px;
	margin-bottom:0px;
	font-family:coolvetica;
	color:#eddddd;
}
.gallery1 {
	height:50%;
	padding-top:3%;
	display:flex;
	justify-content:space-around;
	align-items:center;
}
.gallery2 {
	height:50%;
	padding-bottom:5%;
	padding-top:3%;
	display:flex;
	justify-content:space-around;
	align-items:center;
}
.gallery1 img {
	max-width:27%;
}
.gallery2 img {
	max-width:35%;
}
@media screen and (max-width:570px){
	h2 {
		font-size:1.5rem;
	}
}


/* About me, Segment */
.about_me {
	width:100%;
	height:1000px;
	background-color:#b3a4a4;
}
.about_me_content0 h2 {
	padding-bottom: 20px;
}
.about_me_content_both {
	display:flex;
	font-size:1.4rem;
	color:#eddddd;

}
h3 {
	font-size:2.5rem;
	margin-bottom:0;
	font-family:adumu;
	color:#b3a4a4;
}
.about_me_content1 {
	text-align:center;
	width:40%;
	margin:10%;
	margin-right:5%;
	margin-top:30px;
	margin-bottom:0%;
}
.about_me_content1 p {
	margin-top:5px;
	margin-bottom:5px;
	font-family: 'Open Sans', sans-serif;
	color:#eddddd;
}
.about_me_content1 p:hover {
	color:#b3a4a4;
}
.about_me_content1 img {
	max-width:70%;
	padding:15%;
	padding-top:0%;
	padding-bottom:0%;
}
.about_me_content2 {
	width:40%;
	margin:10%;
	margin-left:5%;
	margin-top:0;
	margin-bottom:0;
}
.about_me_content2 p {
	font-family:'Open Sans', sans-serif;
}

@media screen and (max-width:1400px){
	.about_me_content2 p {
		font-size:1.2rem;
}}
@media screen and (max-width:1000px){
	.about_me_content2 p {
		font-size:1rem;
	}}
@media screen and (max-width:726px){
	.about_me_content2 h3 {
		font-size:1.4rem;
}}
@media screen and (max-width:650px){
	.about_me_content_both {
		display:flex;
		flex-direction:column;
}
	.about_me{
		height:800px;
}
	.about_me_content1 {
		width:80%;
}
	.about_me_content1 h3 {
		font-size:1.4rem;
}
	.about_me_content1 p {
		font-size:0.7rem;
}
	.about_me_content2 {
		width:80%;
}
	.about_me_content2 p {
		font-size:0.8rem;
}}

/* Contact, Segment */
.contact {
	width:100%;
	height:900px;
	border-radius:50px 50px 0 0;
	background-color:#544949;
}
.explanation_message {
	display:flex;
	flex-direction:row;
}
.contact_explanation {
	width:50%;
	margin:10%;
	margin-top:2%;
	margin-bottom:0%;
	font-size:1.5rem;
	color:#eddddd;
}
.message_box {
	width:50%;
	margin:2%;
	margin-top:2%;
	margin-bottom:0%;
	font-size:1.5rem;
	color:#eddddd;
}
.message_box input {
	width:30%;
}
textarea {
	width:80%;
}
.footer {
	display:flex;
	justify-content:center;
	align-items:center;
	color:#eddddd;
}

/* NEW CONTENT */
.webProjects {
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
	height:200px;
	margin:0;
	width:100%;
}
.projectItem {
	display: flex;
	width: 90%;
	height: 160px;
	background-color: #eddddd;
	color: #544949;
	border-radius: 20px;
	margin: 15px 0;
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2rem;
}
.projectItem img {
	max-width: 220px;
	max-height: 100%;
	border-radius: 10px;
	margin: 10px;
}
.projectItemText h4 {
	margin-top: 10px;
	margin-bottom: 0;
}
.projectLinks {
	display: flex;
	gap: 20px;
}
.projectLinks h5 {
	margin: 0;
}
@media screen and (max-width:930px){
	.projectItem {
		font-size:1rem;
	}
}

body {
	background-color:#b3a4a4;
	margin:0;
}
html {
	scroll-behavior: smooth;
}